html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

p,
ul {
	line-height: 1.2;
}
h1:not(:last-child),
h2:not(:last-child),
p:not(:last-child),
ul:not(:last-child) {
	margin-bottom: 0.75rem;
}
p,
li {
	font-size: 0.9em;
	line-height: 1.5;
}
p + ul {
	margin-top: -0.625rem;
}
