.inputGroup {
	display: grid;
	grid-template-rows: 1fr 0;
	margin: 1rem 2rem 0 0;
}

.label {
	color: #fff;
	opacity: 0;
	margin: -2rem 0 0 1rem;
	transition: all 0.5s;
	font-size: 1.1rem;
}

.input {
	width: 400px;
	padding: 10px;
	font-size: 1.1rem;
	outline: none;
	background: linear-gradient(to left top, #000, #434343) fixed;
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.8);
	transition: all 0.5s;
}

.input:hover,
.input:focus {
	cursor: text;
	border: 2px solid rgba(255, 255, 255, 0.7);
}

.input:blur {
	border: none;
}

.input:hover ~ .label,
.input:focus ~ .label {
	cursor: text;
}

.input:not(:placeholder-shown) ~ .label {
	opacity: 0.7;
	margin: -4.1rem 0 0 0.2rem;
}
